<html>
	<head>
		<title>Quora clone</title>
		<link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300'>
<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

        <script src="js/application.js"></script>

        <link rel="stylesheet" href="css/application.css">
	</head>
	<body>
		<%= yield %>
	</body>
</html>